{# footer.html.twig #}

    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Football Market. Tous droits réservés.</p>
            <nav class="footer-nav">
                <a class="anim" href="#">Contact</a>
                <a href="#">Mentions légales</a>
                <a href="#">Politique de confidentialité</a>
            </nav>
        </div>
    </footer>
    <script src="{{asset('js/script.js')}}"></script>
</body>
</html>