{# home.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="partners-section">
        <h1 class="section-title mt-5 text-center">Page introuvable 404</h1>
    </section>
{% endblock %}
