{# home.html.twig #}


    <button class="menu-btn me-5">
        <i class="fa fa-bars"></i>
    </button> 
<nav class="navbar main-color">
    <ul class="nav row w-50">
        <li class="active col-md-12 mb-3"> 
            <a href="/" class="text-white">Accueil</a>
        </li>
        <li class="anim col-md-12 mb-3">
            <a href="/register" class="text-white">Register</a>
        </li>
        <li class="anim col-md-12">
            <a href="/login" class="text-white anim">Login</a>
        </li>
    </ul>
</nav>