<div class="card">
    <img src="{{ asset(card.image) }}" alt="Produit" class="card-img">
    <div class="card-content">
        <h3>{{ card.name }}</h3>
        <p>{{ card.description }}</p>
    </div>
</div>
