{# top.html.twig #}

<div class="topbar bg-light d-flex align-items-center justify-content-center">
    <div class="w-75">
        <span class="logo-1">FOOTBALL</span>
        <span class="logo-2">||</span>
        <span class="logo-3">MARKET</span></div>
</div>